body {
  margin: 0;
  font-family: 'Caveat Brush', cursive;
  font-family: 'Montserrat', sans-serif;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Caveat Brush;
  margin: 0px;
}

p {
  font-family: Montserrat;
  margin: 0;
}
.visually {
  display: none;
}
a {
  text-decoration: none;
}

ul {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.link {
  text-decoration: none;
  color: inherit;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
