html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  /* outline: solid red; */
}

body {
  margin: 0;
  font-family: var(--text-font), cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  color: var(--primary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font);
  font-weight: normal;
  margin: 0px;
}

p {
  margin: 0;
}

.visually {
  display: none;
}

a {
  text-decoration: none;
}

ul {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

label {
  order: 1;

  text-decoration: none;

  cursor: pointer;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.read-more {
  font-size: 18px;
  line-height: 3.61px;
  text-align: center;
  color: var(--marker-color);
}
