@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
body {
  margin: 0;
  font-family: 'Caveat Brush', cursive;
  font-family: 'Montserrat', sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Caveat Brush;
  margin: 0px;
}

p {
  font-family: Montserrat;
  margin: 0;
}

.visually {
  display: none;
}

a {
  text-decoration: none;
}

ul {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

label {
  order: 1;
  text-decoration: none;
  cursor: pointer;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.read-more {
  font-family: Caveat Brush;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 65px;
  /* identical to box height, or 361% */
  text-align: center;
  color: #674d40;
}

.logo {
  text-decoration: none;
  display: flex;
  width: 96px;
  height: 43px;
}

@media screen and (min-width: 1280px) {
  .logo {
    width: 158px;
    height: 71px;
  }
}

.secondary-logo {
  width: 190px;
  height: 85px;
}

:root {
  --primary-text-color: #2e2520;
  --title-text-color: #000000;
  --accent-color: #876655;
  --background-color: #e5e5e5;
  --object-color: #ffffff;
  --marker-color: #ab816c;
  --details-color: #674d40;
  --title-font: Caveat Brush;
  --text-font: Montserrat;
  --cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  margin: 0;
  font-family: 'Caveat Brush', cursive;
  font-family: 'Montserrat', sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Caveat Brush;
  margin: 0px;
}

p {
  font-family: Montserrat;
  margin: 0;
}

.visually {
  display: none;
}

a {
  text-decoration: none;
}

ul {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

label {
  order: 1;
  text-decoration: none;
  cursor: pointer;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.read-more {
  font-family: Caveat Brush;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 65px;
  /* identical to box height, or 361% */
  text-align: center;
  color: #674d40;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 320px) {
  .container {
    width: 320px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 145px;
  height: 40px;
  background: var(--marker-color);
  border-radius: 25px;
  font-family: var(--title-font);
  font-size: 18px;
  line-height: 3.6;
  color: var(--object-color);
  border: none;
  cursor: pointer;
  transition: background var(--cubic);
}

@media screen and (min-width: 1280px) {
  .button {
    width: 158px;
    font-size: 24px;
    line-height: 2.7;
  }
}

.button:hover,
.button:focus {
  background: var(--accent-color);
}

.logo {
  text-decoration: none;
  display: flex;
  width: 96px;
  height: 43px;
}

@media screen and (min-width: 1280px) {
  .logo {
    width: 158px;
    height: 71px;
  }
}

.secondary-logo {
  width: 190px;
  height: 85px;
}

.social-icons {
  display: inline-flex;
}

.social-icons__item + .social-icons__item {
  margin-left: 9px;
}

.social-icons__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 15px;
  cursor: pointer;
}

.social-icons__icon {
  fill: var(--primary-text-color);
  transition: fill var(--cubic);
}

.social-icons__link:hover .social-icons__icon {
  fill: var(--accent-color);
}

.footer-contacts__tel:hover,
.footer-contacts__tel:focus,
.footer-contacts__address:hover,
.footer-contacts__address:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.section {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1280px) {
  .section {
    padding-top: 68px;
    padding-bottom: 68px;
  }
}

.hero__container {
  width: 100%;
  padding-top: 33px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 3px;
  margin-left: auto;
  margin-right: auto;
  font-family: Caveat Brush;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 1.27;
  text-align: center;
  color: #2e2520;
}

@media screen and (min-width: 320px) {
  .hero__title {
    width: 224px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__title {
    width: 490px;
    font-size: 64px;
    line-height: 1.01;
  }
}

.hero__subtitle {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #2e2520;
  margin-bottom: 37px;
}

@media screen and (min-width: 1280px) {
  .hero__subtitle {
    font-size: 24px;
    line-height: 1.21;
  }
}

.hero__button {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 45px;
}

.about-us__title {
  width: 113px;
  height: 65px;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 1.81;
  /* identical to box height, or 181% */
  text-align: center;
  color: var(--primary-text-color);
  margin: 0;
}

@media screen and (min-width: 320px) {
  .about-us__title {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 65px;
    /* identical to box height, or 271% */
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .about-us__title {
    width: 76px;
    height: 65px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 65px;
    /* identical to box height, or 271% */
  }
}

@media screen and (min-width: 1280px) {
  .about-us__title {
    height: 65px;
  }
}

.about-us__text {
  width: 392px;
  height: 374px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  color: var(--primary-text-color);
  margin: 0;
}

@media screen and (min-width: 320px) {
  .about-us__text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (min-width: 768px) {
  .about-us__text {
    width: 336px;
    height: 242px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
  }
}

.about-us {
  width: 980px;
  height: 546.71px;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  left: 71px;
  top: 548px;
}

.left-block {
  width: 512px;
  height: 546.71px;
  margin: 0;
}

.right-block {
  width: 392px;
  height: 374px;
  margin-right: 0;
  margin-left: 76px;
}

.box-desktop {
  margin-right: 0;
}

@media screen and (min-width: 320px) {
  .box-desktop {
    width: 290px;
    height: 309.66px;
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) {
  .box-desktop {
    width: 329.65px;
    height: 352px;
    margin-right: 0;
  }
}

@media screen and (min-width: 1280px) {
  .box-desktop {
    margin-right: 0;
  }
}

.tablet {
  margin-right: 0;
}

.program__container {
  display: flex;
  flex-direction: column;
}

.program-left-block {
  margin-bottom: 15px;
}

.program-left-block__title {
  margin-bottom: 10px;
}

.program-left-block__text {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.program-left-block__item {
  margin-bottom: 10px;
}

.read-more {
  display: flex;
  margin: 0;
  padding: 0;
}

.program-right-block {
  position: relative;
  margin-top: 34px;
  padding: 0;
}

.program-right-block__list {
  display: flex;
  flex-wrap: wrap;
}

.program-right-block__item {
  position: relative;
  height: 140px;
  width: 140px;
  background-color: #fef3e4;
  border-radius: 50%;
  margin-top: 0;
  margin-right: 5px;
  box-shadow: 0px 4px 4px rgba(171, 129, 108, 0.25);
}

.program-right-block__item:nth-child(2n) {
  margin-top: 60px;
  margin-right: 0;
}

.program-right-block__title,
.program-right-block__text {
  margin-bottom: 13px;
}

.program-donuts {
  position: absolute;
  top: -40px;
  right: 9px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.program-cooking::after {
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  content: '';
  background-image: url(../../src/images/icons/chef_hat.svg);
}

.program-number::after {
  content: '';
  width: 27px;
  height: 27px;
  background-repeat: no-repeat;
  background-image: url(../../src/images/icons/people.svg);
}

.program-time::after {
  content: '';
  width: 27px;
  height: 27px;
  background-repeat: no-repeat;
  background-image: url(../../src/images/icons/clock.svg);
}

.program-host::after {
  content: '';
  width: 32px;
  height: 25px;
  background-repeat: no-repeat;
  background-image: url(../../src/images/icons/chat.svg);
}

.list {
  list-style: none;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

label {
  display: flex;
  justify-content: center;
}

.form-part {
  padding-top: 15px;
  padding-bottom: 47px;
}

@media screen and (max-width: 767px) {
  .form-part {
    text-align: center;
    max-width: 290px;
    border-radius: 50% 50% 0px 0px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
  }
}

@media screen and (min-width: 768px) {
  .form-part__container {
    justify-content: space-between;
    display: flex;
    flex-wrap: nowrap;
    background-color: #FFFFF9;
    box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .form-part__container {
    max-width: 634px;
    border-radius: 150px;
  }
}

@media screen and (min-width: 1280px) {
  .form-part__container {
    max-width: 822px;
    height: 260px;
    border-radius: 150px;
  }
}

@media screen and (min-width: 768px) {
  .form-part__wrapper {
    padding-top: 35px;
    padding-bottom: 35px;
    display: flex;
    flex-direction: column;
    flex-basis: calc((50% - 45px) / 2);
  }
}

@media screen and (min-width: 768px) {
  .form-part__wrapper:nth-child(3) {
    padding: 0;
    margin-top: auto;
    margin-bottom: auto;
  }
}

@media screen and (max-width: 767px) {
  .form-part__wrapper:nth-child(2) {
    margin-bottom: 25px;
  }
}

.form-part__title {
  text-align: center;
  font-weight: 400;
}

@media screen and (max-width: 767px) {
  .form-part__title {
    font-family: 'Caveat Brush', cursive;
    font-size: 24px;
    line-height: 2.71;
    margin-bottom: 11px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .form-part__title {
    font-family: 'Caveat Brush', cursive;
    font-size: 24px;
    line-height: 2.71;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1280px) {
  .form-part__title {
    font-family: 'Caveat Brush', cursive;
    font-size: 36px;
    line-height: 1.81;
  }
}

@media screen and (max-width: 767px) {
  .info-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    max-width: 265px;
    margin-bottom: 11px;
    border-bottom: 1px solid var(--marker-color);
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .info-form {
    margin: 0;
    padding-top: 19px;
    padding-right: 30px;
    padding-left: 10px;
    border-right: 1px solid var(--marker-color);
    height: 190px;
  }
}

@media screen and (min-width: 1280px) {
  .info-form {
    padding-top: 19px;
    padding-left: 107px;
    padding-right: 30px;
    border-right: 1px solid var(--marker-color);
    height: 190px;
  }
}

.info-form__input {
  border: none;
}

.info {
  flex-direction: column;
}

@media screen and (max-width: 767px) {
  .info__item {
    padding-bottom: 25px;
  }
  .info__item:last-child {
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .info__item {
    text-align: right;
    padding-bottom: 34px;
  }
}

@media screen and (min-width: 1280px) {
  .info__item {
    text-align: right;
    padding-bottom: 30px;
  }
}

.info__text {
  font-weight: 500;
}

@media screen and (max-width: 1279px) {
  .info__text {
    font-size: 18px;
    line-height: 1.22;
  }
}

@media screen and (min-width: 1280px) {
  .info__text {
    font-size: 20px;
    line-height: 1.22;
  }
}

@media screen and (min-width: 1280px) {
  .checkin-form__field:first-child .checkin-form__input {
    padding-top: 14px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .checkin-form__field:first-child .checkin-form__input {
    padding-top: 18px;
  }
}

.checkin-form__text {
  font-size: 16px;
  line-height: 1.22;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .checkin-form__text {
    padding-top: 19px;
  }
}

@media screen and (min-width: 1280px) {
  .checkin-form__text {
    font-size: 18px;
    padding-top: 19px;
  }
}

.checkin-form__input {
  margin: 0;
  border: none;
  border-bottom: 1px solid var(--marker-color);
  padding-top: 16px;
}

.checkin-form__input::placeholder {
  font-size: 16px;
  line-height: 1.22;
  color: rgba(171, 129, 108, 0.5);
}

.list {
  list-style: none;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

label {
  display: flex;
  justify-content: center;
}

.form-part {
  padding-top: 15px;
  padding-bottom: 47px;
}

@media screen and (max-width: 767px) {
  .form-part {
    text-align: center;
    max-width: 290px;
    border-radius: 50% 50% 0px 0px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
  }
}

@media screen and (min-width: 768px) {
  .form-part__container {
    justify-content: space-between;
    display: flex;
    flex-wrap: nowrap;
    background-color: #FFFFF9;
    box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .form-part__container {
    max-width: 634px;
    border-radius: 150px;
  }
}

@media screen and (min-width: 1280px) {
  .form-part__container {
    max-width: 822px;
    height: 260px;
    border-radius: 150px;
  }
}

@media screen and (min-width: 768px) {
  .form-part__wrapper {
    padding-top: 35px;
    padding-bottom: 35px;
    display: flex;
    flex-direction: column;
    flex-basis: calc((50% - 45px) / 2);
  }
}

@media screen and (min-width: 768px) {
  .form-part__wrapper:nth-child(3) {
    padding: 0;
    margin-top: auto;
    margin-bottom: auto;
  }
}

@media screen and (max-width: 767px) {
  .form-part__wrapper:nth-child(2) {
    margin-bottom: 25px;
  }
}

.form-part__title {
  text-align: center;
  font-weight: 400;
}

@media screen and (max-width: 767px) {
  .form-part__title {
    font-family: 'Caveat Brush', cursive;
    font-size: 24px;
    line-height: 2.71;
    margin-bottom: 11px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .form-part__title {
    font-family: 'Caveat Brush', cursive;
    font-size: 24px;
    line-height: 2.71;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1280px) {
  .form-part__title {
    font-family: 'Caveat Brush', cursive;
    font-size: 36px;
    line-height: 1.81;
  }
}

@media screen and (max-width: 767px) {
  .info-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    max-width: 265px;
    margin-bottom: 11px;
    border-bottom: 1px solid var(--marker-color);
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .info-form {
    margin: 0;
    padding-top: 19px;
    padding-right: 30px;
    padding-left: 10px;
    border-right: 1px solid var(--marker-color);
    height: 190px;
  }
}

@media screen and (min-width: 1280px) {
  .info-form {
    padding-top: 19px;
    padding-left: 107px;
    padding-right: 30px;
    border-right: 1px solid var(--marker-color);
    height: 190px;
  }
}

.info-form__input {
  border: none;
}

.info {
  flex-direction: column;
}

@media screen and (max-width: 767px) {
  .info__item {
    padding-bottom: 25px;
  }
  .info__item:last-child {
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .info__item {
    text-align: right;
    padding-bottom: 34px;
  }
}

@media screen and (min-width: 1280px) {
  .info__item {
    text-align: right;
    padding-bottom: 30px;
  }
}

.info__text {
  font-weight: 500;
}

@media screen and (max-width: 1279px) {
  .info__text {
    font-size: 18px;
    line-height: 1.22;
  }
}

@media screen and (min-width: 1280px) {
  .info__text {
    font-size: 20px;
    line-height: 1.22;
  }
}

@media screen and (min-width: 1280px) {
  .checkin-form__field:first-child .checkin-form__input {
    padding-top: 14px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .checkin-form__field:first-child .checkin-form__input {
    padding-top: 18px;
  }
}

.checkin-form__text {
  font-size: 16px;
  line-height: 1.22;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .checkin-form__text {
    padding-top: 19px;
  }
}

@media screen and (min-width: 1280px) {
  .checkin-form__text {
    font-size: 18px;
    padding-top: 19px;
  }
}

.checkin-form__input {
  margin: 0;
  border: none;
  border-bottom: 1px solid var(--marker-color);
  padding-top: 16px;
}

.checkin-form__input::placeholder {
  font-size: 16px;
  line-height: 1.22;
  color: rgba(171, 129, 108, 0.5);
}

.footer__container {
  padding-top: 27px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer {
  position: relative;
}

.contact__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact__title {
  margin-bottom: 25px;
}

.contact__text {
  margin-bottom: 27px;
}

.contact__mail {
  margin-bottom: 27px;
}

.contact__question,
.contact__mail {
  border-top: none;
  border-right: none;
  border-left: none;
  width: 265px;
  border-bottom: 1px solid var(--marker-color);
  font-size: 16px;
  line-height: 1, 25;
  color: var(--primary-text-color);
}

@media screen and (min-width: 768px) {
  .contact__question,
  .contact__mail {
    width: 410px;
  }
}

@media screen and (min-width: 1280px) {
  .contact__question,
  .contact__mail {
    width: 430px;
  }
}

input:invalid {
  border-color: red;
}

::-webkit-input-placeholder {
  color: rgba(171, 129, 108, 0.5);
}

:-moz-placeholder {
  color: rgba(171, 129, 108, 0.5);
}

::-moz-placeholder {
  color: rgba(171, 129, 108, 0.5);
}

:-ms-input-placeholder {
  color: rgba(171, 129, 108, 0.5);
}

.contact__question {
  margin-bottom: 36px;
}

.contact__btn {
  margin-bottom: 50px;
}

.footer-contacts {
  margin-top: 34px;
  z-index: 50;
}

.contact {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  justify-content: center;
}

.footer-contacts__list {
  display: flex;
  justify-content: space-between;
  z-index: 25;
  margin-bottom: 19px;
}

.footer-contacts__tel {
  display: flex;
  align-items: center;
}

.footer-picture {
  position: absolute;
  right: 0px;
  bottom: 0;
}
/*# sourceMappingURL=main.css.map */