@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  /*  outline: solid red; */
}

body {
  margin: 0;
  font-family: var(--text-font), cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  color: var(--primary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font);
  margin: 0px;
}

p {
  margin: 0;
}

.visually {
  display: none;
}

a {
  text-decoration: none;
}

ul {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

label {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  text-decoration: none;
  cursor: pointer;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.read-more {
  font-family: var(--title-font);
  font-size: 18px;
  line-height: 3.61px;
  text-align: center;
  color: var(--details-color);
}

.logo {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 96px;
  height: 43px;
}

@media screen and (min-width: 1280px) {
  .logo {
    width: 158px;
    height: 71px;
  }
}

.secondary-logo {
  width: 190px;
  height: 85px;
}

:root {
  --primary-text-color: #2e2520;
  --title-text-color: #000000;
  --accent-color: #876655;
  --background-color: #e5e5e5;
  --object-color: #ffffff;
  --marker-color: #ab816c;
  --details-color: #674d40;
  --title-font: Caveat Brush;
  --text-font: Montserrat;
  --cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  /*  outline: solid red; */
}

body {
  margin: 0;
  font-family: var(--text-font), cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  color: var(--primary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font);
  margin: 0px;
}

p {
  margin: 0;
}

.visually {
  display: none;
}

a {
  text-decoration: none;
}

ul {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

label {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  text-decoration: none;
  cursor: pointer;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.read-more {
  font-family: var(--title-font);
  font-size: 18px;
  line-height: 3.61px;
  text-align: center;
  color: var(--details-color);
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-right: 67px;
    padding-left: 67px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-right: 229px;
    padding-left: 229px;
  }
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 145px;
  height: 40px;
  background: var(--marker-color);
  border-radius: 25px;
  font-family: var(--title-font);
  font-size: 18px;
  line-height: 3.6;
  color: var(--object-color);
  border: none;
  cursor: pointer;
  -webkit-transition: background var(--cubic);
  transition: background var(--cubic);
}

@media screen and (min-width: 1280px) {
  .button {
    width: 158px;
    font-size: 24px;
    line-height: 2.7;
  }
}

.button:hover, .button:focus {
  background: var(--accent-color);
}

.logo {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 96px;
  height: 43px;
}

@media screen and (min-width: 1280px) {
  .logo {
    width: 158px;
    height: 71px;
  }
}

.secondary-logo {
  width: 190px;
  height: 85px;
}

.social-icons {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.social-icons__item + .social-icons__item {
  margin-left: 9px;
}

.social-icons__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 19px;
  height: 15px;
  cursor: pointer;
}

.social-icons__icon {
  fill: var(--primary-text-color);
  -webkit-transition: fill var(--cubic);
  transition: fill var(--cubic);
}

.social-icons__link:hover .social-icons__icon {
  fill: var(--accent-color);
}

.footer-contacts__tel:hover,
.footer-contacts__tel:focus,
.footer-contacts__address:hover,
.footer-contacts__address:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.background__donuts {
  position: absolute;
}

@media screen and (max-width: 767.98px) {
  .background__donuts {
    width: 120px;
    left: 0;
    top: 0;
  }
}

@media screen and (min-width: 768px) {
  .background__donuts {
    width: 380px;
    right: 137.11px;
    top: 0px;
  }
}

@media screen and (min-width: 1280px) {
  .background__donuts {
    width: 719px;
    right: 0px;
    top: 0px;
  }
}

.background__header {
  position: absolute;
  z-index: -10;
  max-width: 100%;
  left: 0;
  top: 0;
  /* @media screen and (max-width: 767.98px) {
    width: 320px;
    left: 0px;
    top: 0px;
  }

  @media screen and (min-width: 768px) {
    width: 769px;
    left: -1px;
    top: 0px;
  }

  @media screen and (min-width: 1280px) {
    width: 100%;
    left: 0px;
    top: 0px;
  } */
}

.background__footer {
  position: absolute;
  z-index: -10;
  width: 100%;
}

@media screen and (max-width: 767.98px) {
  .background__footer {
    bottom: -102.75px;
  }
}

@media screen and (min-width: 768px) {
  .background__footer {
    bottom: 63.01px;
  }
}

@media screen and (min-width: 1280px) {
  .background__footer {
    bottom: -102.75px;
  }
}

.header {
  padding-top: 7px;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 27px;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    padding-top: 31px;
  }
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .header__nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 38px;
}

@media screen and (max-width: 1279px) {
  .site-nav {
    display: none;
  }
}

.site-nav__link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: var(--primary-text-color);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-text-color);
  cursor: pointer;
}

.site-nav__item + .site-nav__item {
  margin-left: 20px;
}

.section {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1280px) {
  .section {
    padding-top: 68px;
    padding-bottom: 68px;
  }
}

.hero__container {
  display: block;
  width: 100%;
  padding-top: 33px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .hero__container {
    padding-left: 68px;
    padding-right: 68px;
    padding-top: 10px;
    text-align: start;
  }
}

@media screen and (min-width: 1280px) {
  .hero__container {
    padding-left: 229px;
    padding-right: 229px;
    padding-top: 57px;
  }
}

.hero__title {
  margin-top: 0;
  margin-bottom: 3px;
  margin-left: auto;
  margin-right: auto;
  font-family: var(--title-font);
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 1.27;
  text-align: center;
  color: var(--primary-text-color);
}

@media screen and (min-width: 320px) {
  .hero__title {
    width: 224px;
  }
}

@media screen and (min-width: 768px) {
  .hero__title {
    margin-left: 0;
    text-align: start;
  }
}

@media screen and (min-width: 1280px) {
  .hero__title {
    margin-bottom: 15px;
    width: 490px;
    font-size: 64px;
    line-height: 1.01;
  }
}

.hero__subtitle {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #2e2520;
  margin-bottom: 37px;
}

@media screen and (min-width: 768px) {
  .hero__subtitle {
    margin-bottom: 26px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__subtitle {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 1.21;
  }
}

.hero__button {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 45px;
}

@media screen and (min-width: 768px) {
  .hero__button {
    margin-left: 0;
    margin-bottom: 31px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__button {
    margin-bottom: 65px;
  }
}

.hero__social-icons {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .hero__social-icons {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.about-us__content {
  margin-top: 75px;
}

.about-us__title {
  width: 113px;
  height: 65px;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 1.81;
  /* identical to box height, or 181% */
  text-align: center;
  color: #2e2520;
  margin: 0;
}

@media screen and (min-width: 320px) {
  .about-us__title {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 65px;
    /* identical to box height, or 271% */
    text-align: center;
    color: #2e2520;
  }
}

@media screen and (min-width: 768px) {
  .about-us__title {
    width: 76px;
    height: 65px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 65px;
    /* identical to box height, or 271% */
  }
}

@media screen and (min-width: 1280px) {
  .about-us__title {
    width: 113px;
    height: 65px;
  }
}

.about-us__text {
  width: 392px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  color: #2e2520;
}

@media screen and (min-width: 320px) {
  .about-us__text {
    width: 290px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #2e2520;
  }
}

@media screen and (min-width: 768px) {
  .about-us__text {
    width: 336px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #2e2520;
  }
}

.about-us {
  width: 980px;
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 320px) {
  .about-us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .about-us {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 100px;
    margin-left: 17px;
    display: -webkit-inline-box;
  }
}

@media screen and (min-width: 1280px) {
  .about-us {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: 71px;
    margin-top: 115px;
  }
}

.right-block__about-us {
  width: 392px;
  margin-right: 0;
}

@media screen and (min-width: 320px) {
  .right-block__about-us {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 15px;
    margin-left: 15px;
  }
}

@media screen and (min-width: 768px) {
  .right-block__about-us {
    width: 336px;
    margin-left: 25px;
    margin-right: 0;
  }
}

@media screen and (min-width: 1280px) {
  .right-block__about-us {
    margin-left: 76px;
  }
}

.rating-mini {
  display: inline-block;
  font-size: 0;
}

.rating-mini span {
  padding: 0;
  content: url(../images/icons/unstar.svg);
}

.rating-mini > span:before {
  content: url(../images/icons/star.svg);
}

.rating-mini > span.active {
  content: url(../images/icons/star.svg);
}

.reviews__item {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews__item-name {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}

.reviews {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .reviews {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.reviews__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 30px;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.grid__item {
  -ms-flex-preferred-size: calc((100% - 30px * var(--grid__item)) / var(--grid__item));
      flex-basis: calc((100% - 30px * var(--grid__item)) / var(--grid__item));
  margin-left: 30px;
  margin-top: 30px;
}

.reviews__item {
  --grid__item: 1;
}

@media screen and (min-width: 768px) {
  .reviews__item {
    --grid__item: 3;
  }
}

@media screen and (min-width: 1200px) {
  .reviews__item {
    --grid__item: 3;
  }
}

.reviews__list {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.reviews_text {
  text-align: center;
}

.primary {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-part {
  padding-top: 15px;
  padding-bottom: 47px;
}

@media screen and (max-width: 767px) {
  .form-part {
    text-align: center;
    max-width: 290px;
    border-radius: 50% 50% 0px 0px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
            box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
  }
}

@media screen and (min-width: 768px) {
  .form-part__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    background-color: #FFFFF9;
    -webkit-box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
            box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .form-part__container {
    max-width: 634px;
    border-radius: 150px;
  }
}

@media screen and (min-width: 1280px) {
  .form-part__container {
    max-width: 822px;
    height: 260px;
    border-radius: 150px;
  }
}

@media screen and (min-width: 768px) {
  .form-part__wrapper {
    padding-top: 35px;
    padding-bottom: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-preferred-size: calc((50% - 45px) / 2);
        flex-basis: calc((50% - 45px) / 2);
  }
  .form-part__wrapper:nth-child(3) {
    padding: 0;
    margin-top: auto;
    margin-bottom: auto;
  }
}

@media screen and (max-width: 767px) {
  .form-part__wrapper:nth-child(2) {
    margin-bottom: 25px;
  }
}

.form-part__title {
  text-align: center;
  font-weight: 400;
}

@media screen and (max-width: 767px) {
  .form-part__title {
    font-family: 'Caveat Brush', cursive;
    font-size: 24px;
    line-height: 2.71;
    margin-bottom: 11px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .form-part__title {
    font-family: 'Caveat Brush', cursive;
    font-size: 24px;
    line-height: 2.71;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1280px) {
  .form-part__title {
    font-family: 'Caveat Brush', cursive;
    font-size: 36px;
    line-height: 1.81;
  }
}

@media screen and (max-width: 767px) {
  .info-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: center;
        align-content: center;
    max-width: 265px;
    margin-bottom: 11px;
    border-bottom: 1px solid var(--marker-color);
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .info-form {
    margin: 0;
    padding-top: 19px;
    padding-right: 30px;
    padding-left: 10px;
    border-right: 1px solid var(--marker-color);
    height: 190px;
  }
}

@media screen and (min-width: 1280px) {
  .info-form {
    padding-top: 19px;
    padding-left: 107px;
    padding-right: 30px;
    border-right: 1px solid var(--marker-color);
    height: 190px;
  }
}

.info-form__input {
  border: none;
}

.info {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 767px) {
  .info__item {
    padding-bottom: 25px;
  }
  .info__item:last-child {
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .info__item {
    text-align: right;
    padding-bottom: 34px;
  }
}

@media screen and (min-width: 1280px) {
  .info__item {
    text-align: right;
    padding-bottom: 30px;
  }
}

.info__text {
  font-weight: 500;
}

@media screen and (max-width: 1279px) {
  .info__text {
    font-size: 18px;
    line-height: 1.22;
  }
}

@media screen and (min-width: 1280px) {
  .info__text {
    font-size: 20px;
    line-height: 1.22;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .checkin-form__field {
    width: 234px;
  }
}

@media screen and (min-width: 1280px) {
  .checkin-form__field:first-child .checkin-form__input {
    padding-top: 14px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .checkin-form__field:first-child .checkin-form__input {
    padding-top: 18px;
  }
}

.checkin-form__text {
  font-size: 16px;
  line-height: 1.22;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .checkin-form__text {
    padding-top: 19px;
  }
}

@media screen and (min-width: 1280px) {
  .checkin-form__text {
    font-size: 18px;
    padding-top: 19px;
  }
}

.checkin-form__input {
  margin: 0;
  border: none;
  border-bottom: 1px solid var(--marker-color);
  padding-top: 16px;
  background-color: #FFFFF9;
}

.checkin-form__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.22;
  color: rgba(171, 129, 108, 0.5);
}

.checkin-form__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.22;
  color: rgba(171, 129, 108, 0.5);
}

.checkin-form__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.22;
  color: rgba(171, 129, 108, 0.5);
}

.checkin-form__input::placeholder {
  font-size: 16px;
  line-height: 1.22;
  color: rgba(171, 129, 108, 0.5);
}

label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-part {
  padding-top: 15px;
  padding-bottom: 47px;
}

@media screen and (max-width: 767px) {
  .form-part {
    text-align: center;
    max-width: 290px;
    border-radius: 50% 50% 0px 0px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
            box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
  }
}

@media screen and (min-width: 768px) {
  .form-part__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    background-color: #FFFFF9;
    -webkit-box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
            box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .form-part__container {
    max-width: 634px;
    border-radius: 150px;
  }
}

@media screen and (min-width: 1280px) {
  .form-part__container {
    max-width: 822px;
    height: 260px;
    border-radius: 150px;
  }
}

@media screen and (min-width: 768px) {
  .form-part__wrapper {
    padding-top: 35px;
    padding-bottom: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-preferred-size: calc((50% - 45px) / 2);
        flex-basis: calc((50% - 45px) / 2);
  }
}

@media screen and (min-width: 768px) {
  .form-part__wrapper:nth-child(3) {
    padding: 0;
    margin-top: auto;
    margin-bottom: auto;
  }
}

@media screen and (max-width: 767px) {
  .form-part__wrapper:nth-child(2) {
    margin-bottom: 25px;
  }
}

.form-part__title {
  text-align: center;
  font-weight: 400;
}

@media screen and (max-width: 767px) {
  .form-part__title {
    font-family: 'Caveat Brush', cursive;
    font-size: 24px;
    line-height: 2.71;
    margin-bottom: 11px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .form-part__title {
    font-family: 'Caveat Brush', cursive;
    font-size: 24px;
    line-height: 2.71;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1280px) {
  .form-part__title {
    font-family: 'Caveat Brush', cursive;
    font-size: 36px;
    line-height: 1.81;
  }
}

@media screen and (max-width: 767px) {
  .info-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: center;
        align-content: center;
    max-width: 265px;
    margin-bottom: 11px;
    border-bottom: 1px solid var(--marker-color);
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .info-form {
    margin: 0;
    padding-top: 19px;
    padding-right: 30px;
    padding-left: 10px;
    border-right: 1px solid var(--marker-color);
    height: 190px;
  }
}

@media screen and (min-width: 1280px) {
  .info-form {
    padding-top: 19px;
    padding-left: 107px;
    padding-right: 30px;
    border-right: 1px solid var(--marker-color);
    height: 190px;
  }
}

.info-form__input {
  border: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.info {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 767px) {
  .info__item {
    padding-bottom: 25px;
  }
  .info__item:last-child {
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .info__item {
    text-align: right;
    padding-bottom: 34px;
  }
}

@media screen and (min-width: 1280px) {
  .info__item {
    text-align: right;
    padding-bottom: 30px;
  }
}

.info__text {
  font-weight: 500;
}

@media screen and (max-width: 1279px) {
  .info__text {
    font-size: 18px;
    line-height: 1.22;
  }
}

@media screen and (min-width: 1280px) {
  .info__text {
    font-size: 20px;
    line-height: 1.22;
  }
}

@media screen and (min-width: 1280px) {
  .checkin-form__field:first-child .checkin-form__input {
    padding-top: 14px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .checkin-form__field:first-child .checkin-form__input {
    padding-top: 18px;
  }
}

.checkin-form__text {
  font-size: 16px;
  line-height: 1.22;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .checkin-form__text {
    padding-top: 19px;
  }
}

@media screen and (min-width: 1280px) {
  .checkin-form__text {
    font-size: 18px;
    padding-top: 19px;
  }
}

.checkin-form__input {
  margin: 0;
  border: none;
  border-bottom: 1px solid var(--marker-color);
  padding-top: 16px;
}

.checkin-form__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.22;
  color: rgba(171, 129, 108, 0.5);
}

.checkin-form__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.22;
  color: rgba(171, 129, 108, 0.5);
}

.checkin-form__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.22;
  color: rgba(171, 129, 108, 0.5);
}

.checkin-form__input::placeholder {
  font-size: 16px;
  line-height: 1.22;
  color: rgba(171, 129, 108, 0.5);
}

.primary {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-part {
  padding-top: 15px;
  padding-bottom: 47px;
}

@media screen and (max-width: 767px) {
  .form-part {
    text-align: center;
    max-width: 290px;
    border-radius: 50% 50% 0px 0px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
            box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
  }
}

@media screen and (min-width: 768px) {
  .form-part__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    background-color: #FFFFF9;
    -webkit-box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
            box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .form-part__container {
    max-width: 634px;
    border-radius: 150px;
  }
}

@media screen and (min-width: 1280px) {
  .form-part__container {
    max-width: 822px;
    height: 260px;
    border-radius: 150px;
  }
}

@media screen and (min-width: 768px) {
  .form-part__wrapper {
    padding-top: 35px;
    padding-bottom: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-preferred-size: calc((50% - 45px) / 2);
        flex-basis: calc((50% - 45px) / 2);
  }
  .form-part__wrapper:nth-child(3) {
    padding: 0;
    margin-top: auto;
    margin-bottom: auto;
  }
}

@media screen and (max-width: 767px) {
  .form-part__wrapper:nth-child(2) {
    margin-bottom: 25px;
  }
}

.form-part__title {
  text-align: center;
  font-weight: 400;
}

@media screen and (max-width: 767px) {
  .form-part__title {
    font-family: 'Caveat Brush', cursive;
    font-size: 24px;
    line-height: 2.71;
    margin-bottom: 11px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .form-part__title {
    font-family: 'Caveat Brush', cursive;
    font-size: 24px;
    line-height: 2.71;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1280px) {
  .form-part__title {
    font-family: 'Caveat Brush', cursive;
    font-size: 36px;
    line-height: 1.81;
  }
}

@media screen and (max-width: 767px) {
  .info-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: center;
        align-content: center;
    max-width: 265px;
    margin-bottom: 11px;
    border-bottom: 1px solid var(--marker-color);
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .info-form {
    margin: 0;
    padding-top: 19px;
    padding-right: 30px;
    padding-left: 10px;
    border-right: 1px solid var(--marker-color);
    height: 190px;
  }
}

@media screen and (min-width: 1280px) {
  .info-form {
    padding-top: 19px;
    padding-left: 107px;
    padding-right: 30px;
    border-right: 1px solid var(--marker-color);
    height: 190px;
  }
}

.info-form__input {
  border: none;
}

.info {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 767px) {
  .info__item {
    padding-bottom: 25px;
  }
  .info__item:last-child {
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .info__item {
    text-align: right;
    padding-bottom: 34px;
  }
}

@media screen and (min-width: 1280px) {
  .info__item {
    text-align: right;
    padding-bottom: 30px;
  }
}

.info__text {
  font-weight: 500;
}

@media screen and (max-width: 1279px) {
  .info__text {
    font-size: 18px;
    line-height: 1.22;
  }
}

@media screen and (min-width: 1280px) {
  .info__text {
    font-size: 20px;
    line-height: 1.22;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .checkin-form__field {
    width: 234px;
  }
}

@media screen and (min-width: 1280px) {
  .checkin-form__field:first-child .checkin-form__input {
    padding-top: 14px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .checkin-form__field:first-child .checkin-form__input {
    padding-top: 18px;
  }
}

.checkin-form__text {
  font-size: 16px;
  line-height: 1.22;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .checkin-form__text {
    padding-top: 19px;
  }
}

@media screen and (min-width: 1280px) {
  .checkin-form__text {
    font-size: 18px;
    padding-top: 19px;
  }
}

.checkin-form__input {
  margin: 0;
  border: none;
  border-bottom: 1px solid var(--marker-color);
  padding-top: 16px;
  background-color: #FFFFF9;
}

.checkin-form__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.22;
  color: rgba(171, 129, 108, 0.5);
}

.checkin-form__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.22;
  color: rgba(171, 129, 108, 0.5);
}

.checkin-form__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.22;
  color: rgba(171, 129, 108, 0.5);
}

.checkin-form__input::placeholder {
  font-size: 16px;
  line-height: 1.22;
  color: rgba(171, 129, 108, 0.5);
}

label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-part {
  padding-top: 15px;
  padding-bottom: 47px;
}

@media screen and (max-width: 767px) {
  .form-part {
    text-align: center;
    max-width: 290px;
    border-radius: 50% 50% 0px 0px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
            box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
  }
}

@media screen and (min-width: 768px) {
  .form-part__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    background-color: #FFFFF9;
    -webkit-box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
            box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .form-part__container {
    max-width: 634px;
    border-radius: 150px;
  }
}

@media screen and (min-width: 1280px) {
  .form-part__container {
    max-width: 822px;
    height: 260px;
    border-radius: 150px;
  }
}

@media screen and (min-width: 768px) {
  .form-part__wrapper {
    padding-top: 35px;
    padding-bottom: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-preferred-size: calc((50% - 45px) / 2);
        flex-basis: calc((50% - 45px) / 2);
  }
}

@media screen and (min-width: 768px) {
  .form-part__wrapper:nth-child(3) {
    padding: 0;
    margin-top: auto;
    margin-bottom: auto;
  }
}

@media screen and (max-width: 767px) {
  .form-part__wrapper:nth-child(2) {
    margin-bottom: 25px;
  }
}

.form-part__title {
  text-align: center;
  font-weight: 400;
}

@media screen and (max-width: 767px) {
  .form-part__title {
    font-family: 'Caveat Brush', cursive;
    font-size: 24px;
    line-height: 2.71;
    margin-bottom: 11px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .form-part__title {
    font-family: 'Caveat Brush', cursive;
    font-size: 24px;
    line-height: 2.71;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1280px) {
  .form-part__title {
    font-family: 'Caveat Brush', cursive;
    font-size: 36px;
    line-height: 1.81;
  }
}

@media screen and (max-width: 767px) {
  .info-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: center;
        align-content: center;
    max-width: 265px;
    margin-bottom: 11px;
    border-bottom: 1px solid var(--marker-color);
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .info-form {
    margin: 0;
    padding-top: 19px;
    padding-right: 30px;
    padding-left: 10px;
    border-right: 1px solid var(--marker-color);
    height: 190px;
  }
}

@media screen and (min-width: 1280px) {
  .info-form {
    padding-top: 19px;
    padding-left: 107px;
    padding-right: 30px;
    border-right: 1px solid var(--marker-color);
    height: 190px;
  }
}

.info-form__input {
  border: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.info {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 767px) {
  .info__item {
    padding-bottom: 25px;
  }
  .info__item:last-child {
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .info__item {
    text-align: right;
    padding-bottom: 34px;
  }
}

@media screen and (min-width: 1280px) {
  .info__item {
    text-align: right;
    padding-bottom: 30px;
  }
}

.info__text {
  font-weight: 500;
}

@media screen and (max-width: 1279px) {
  .info__text {
    font-size: 18px;
    line-height: 1.22;
  }
}

@media screen and (min-width: 1280px) {
  .info__text {
    font-size: 20px;
    line-height: 1.22;
  }
}

@media screen and (min-width: 1280px) {
  .checkin-form__field:first-child .checkin-form__input {
    padding-top: 14px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .checkin-form__field:first-child .checkin-form__input {
    padding-top: 18px;
  }
}

.checkin-form__text {
  font-size: 16px;
  line-height: 1.22;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .checkin-form__text {
    padding-top: 19px;
  }
}

@media screen and (min-width: 1280px) {
  .checkin-form__text {
    font-size: 18px;
    padding-top: 19px;
  }
}

.checkin-form__input {
  margin: 0;
  border: none;
  border-bottom: 1px solid var(--marker-color);
  padding-top: 16px;
}

.checkin-form__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.22;
  color: rgba(171, 129, 108, 0.5);
}

.checkin-form__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.22;
  color: rgba(171, 129, 108, 0.5);
}

.checkin-form__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.22;
  color: rgba(171, 129, 108, 0.5);
}

.checkin-form__input::placeholder {
  font-size: 16px;
  line-height: 1.22;
  color: rgba(171, 129, 108, 0.5);
}

.footer__container {
  padding-top: 27px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer {
  position: relative;
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact__title {
  margin-bottom: 25px;
}

.contact__text {
  margin-bottom: 27px;
}

.contact__mail {
  margin-bottom: 27px;
}

.contact__question,
.contact__mail {
  border-top: none;
  border-right: none;
  border-left: none;
  width: 265px;
  border-bottom: 1px solid var(--marker-color);
  font-size: 16px;
  line-height: 1, 25;
  color: var(--primary-text-color);
}

@media screen and (min-width: 768px) {
  .contact__question,
  .contact__mail {
    width: 410px;
  }
}

@media screen and (min-width: 1280px) {
  .contact__question,
  .contact__mail {
    width: 430px;
  }
}

input:invalid {
  border-color: red;
}

::-webkit-input-placeholder {
  color: rgba(171, 129, 108, 0.5);
}

:-moz-placeholder {
  color: rgba(171, 129, 108, 0.5);
}

::-moz-placeholder {
  color: rgba(171, 129, 108, 0.5);
}

:-ms-input-placeholder {
  color: rgba(171, 129, 108, 0.5);
}

.contact__question {
  margin-bottom: 36px;
}

.contact__btn {
  margin-bottom: 50px;
}

.footer-contacts {
  margin-top: 34px;
  margin-bottom: 19px;
  position: relative;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 19px;
}

.footer-picture {
  z-index: -1;
  position: absolute;
  right: 0px;
  bottom: -19px;
}

.social-icons__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=main.css.map */