@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
.example {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #424242;
  max-width: 960px;
  padding: 16px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #009688;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}

.example .background {
  height: 240px;
  background-image: url("../images/demo.jpg");
  background-size: cover;
  background-position: center;
}

body {
  margin: 0;
  font-family: 'Caveat Brush', cursive;
  font-family: 'Montserrat', sans-serif;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

.visually {
  display: none;
}

a {
  text-decoration: none;
}

ul {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.logo {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 96px;
  height: 43px;
}

@media screen and (min-width: 1280px) {
  .logo {
    width: 158px;
    height: 71px;
  }
}

.secondary-logo {
  width: 190px;
  height: 85px;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

.logo {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 96px;
  height: 43px;
}

@media screen and (min-width: 1280px) {
  .logo {
    width: 158px;
    height: 71px;
  }
}

.secondary-logo {
  width: 190px;
  height: 85px;
}

.section {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1280px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.about-us__title {
  font-family: Caveat Brush;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 1.81;
  /* identical to box height, or 181% */
  text-align: center;
  color: #2e2520;
}

@media screen and (min-width: 320px) {
  .about-us__title {
    width: 320px;
    font-family: Caveat Brush;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 65px;
    /* identical to box height, or 271% */
    text-align: center;
    color: #2e2520;
  }
}

@media screen and (min-width: 768px) {
  .about-us__title {
    width: 768px;
    font-family: Caveat Brush;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 65px;
    /* identical to box height, or 271% */
    text-align: center;
  }
}

@media screen and (min-width: 1280px) {
  .about-us__title {
    width: 1280px;
  }
}

.about-us__text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  color: #2e2520;
}

@media screen and (min-width: 320px) {
  .about-us__text {
    width: 320px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #2e2520;
  }
}

@media screen and (min-width: 768px) {
  .about-us__text {
    width: 768px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #2e2520;
  }
}

@media screen and (min-width: 1280px) {
  .about-us__text {
    width: 1280px;
  }
}
/*# sourceMappingURL=main.css.map */