<section class="background">
  <div class="container">
    <div class="background__header">
      <picture>
        <source
          srcset="
            .//images/desktop/bg_header-desktop.png    1x,
            .//images/desktop/bg_header-desktop@2x.png 2x
          "
          media="(min-width: 1280px)"
          type="image/png"
        />
        <source
          srcset="
            .//images/tablet/bg_header-tablet.png    1x,
            .//images/tablet/bg_header-tablet@2x.png 2x
          "
          media="(min-width: 768px)"
          type="image/png"
        />
        <source
          srcset="
            .//images/mobile/bg_header-mobile.png    1x,
            .//images/mobile/bg_header-mobile@2x.png 2x
          "
          media="(max-width: 767px)"
          type="image/png"
        />
        <img src=".//images/desktop/bg_header-desktop.png" alt="background" />
      </picture>
    </div>
    <div class="background__donuts">
      <picture>
        <source
          srcset="
            .//images/desktop/donuts-desktop.png    1x,
            .//images/desktop/donuts-desktop@2x.png 2x
          "
          media="(min-width: 1280px)"
          type="image/png"
        />
        <source
          srcset=".//images/tablet/donuts-tablet.png 1x, .//images/tablet/donuts-tablet@2x.png 2x"
          media="(min-width: 768px)"
          type="image/png"
        />
        <source
          srcset=".//images/mobile/donuts-mobile.png 1x, .//images/mobile/donuts-mobile@2x.png 2x"
          media="(max-width: 767px)"
          type="image/png"
        />
        <img src=".//images/desktop/donuts-desktop.png" alt="donuts" />
      </picture>
    </div>
    <div class="background__spoon">
      <picture>
        <source
          srcset=".//images/desktop/spoon-desktop.png 1x, .//images/desktop/spoon-desktop@2x.png 2x"
          media="(min-width: 1280px)"
          type="image/png"
        />
        <img src=".//images/desktop/spoon-desktop.png" alt="spoon" />
      </picture>
    </div>
  </div>
</section>
