<footer class="footer">
  <div class="container footer__container">
    <div class="contact">
      <h2 class="contact__title">Contact</h2>
      <p class="contact__text">We will answer any question!</p>
      <form class="contact__form">
        <input
          class="contact__mail"
          type="email"
          placeholder="Email"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
        />
        <input class="contact__question" type="text" placeholder="Type your question" />
        <button class="contact__btn button" type="submit">Send</button>
      </form>
    </div>
    <div class="social-icons">
      <ul class="social-icons list">
        <li class="social-icons__item">
          <a
            class="social-icons__link"
            href="https://twitter.com/intent/tweet?original_referer=http://fiddle.jshell.net/_display/&text=Donut Masterclass&url=https://irinachoulgan.github.io/donut_masterclass"
            target="_blank"
            onclick="return Share.me(this)"
            rel="noopener noreferrer"
            aria-label="twitter"
            ><svg class="icon social-icons__icon">
              <use href="./images/icons/icons.svg#icon-twitter"></use></svg
          ></a>
        </li>
        <li class="social-icons__item">
          <a
            class="social-icons__link"
            href=""
            target="_blank"
            rel="noopener noreferrer"
            onclick="return Share.me(this);"
            aria-label="instagram"
            href=""
            aria-label="instagram"
            ><svg class="icon social-icons__icon">
              <use href="./images/icons/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social-icons__item">
          <a
            class="social-icons__link"
            href="http://www.facebook.com/sharer/sharer.php?s=100&p[title]=Donut Masterclass&p%5Bsummary%5D=Oh My Donut is the shop which adores tasty deserts and spend hours to create sophisticated donuts which will save the world!
&p%5Burl%5D=https://irinachoulgan.github.io/donut_masterclass&p[images][0]=[IMAGE]"
            target="_blank"
            rel="noopener noreferrer"
            onclick="return Share.me(this);"
            aria-label="facebook"
          >
            <svg class="icon social-icons__icon" width="19" height="15">
              <use href="./images/icons/icons.svg#icon-facebook"></use></svg
          ></a>
        </li>
      </ul>
      <picture class="footer-picture">
        <source
          srcset="
            ./images/desktop/wheat_flour-desktop.png    1x,
            ./images/desktop/wheat_flour-desktop@2x.png 2x
          "
          media="(min-width: 1200px)"
        />

        <source
          srcset="
            ./images/tablet/wheat_flour-tablet.png    1x,
            ./images/tablet/wheat_flour-tablet@2x.png 2x
          "
          media="(min-width: 768px)"
          class="tablet"
        />

        <source
          srcset="
            ./images/mobile/wheat_flour-mobile.png    1x,
            ./images/mobile/wheat_flour-mobile@2x.png 2x
          "
          media="(min-width: 320px)"
        />

        <img src="./images/desktop/wheat_flour-desktop.png" alt="wheat flour" />
      </picture>
    </div>
    <div class="footer-contacts">
      <ul class="footer-contacts__list">
        <li class="footer-contacts__item">
          <a class="link footer-contacts__tel" href="tel:+9102228855"
            ><svg class="footer-contacts__icon" width="13" height="13">
              <use href="./images/icons/icons.svg#icon-phone"></use></svg
            >(910)222-8855</a
          >
        </li>
        <li class="footer-contacts__item">
          <a
            class="link footer-contacts__address"
            href="https://goo.gl/maps/8JXVMuq43jZi7bgT9"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="footer-contacts__icon" width="11" height="14">
              <use href="./images/icons/icons.svg#icon-location"></use>
            </svg>
            New York</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>
