<footer class="footer">
  <div class="container">
    <div class="contact">
      <h2 class="contact__title">Contact</h2>
      <p class="contact__text">We will answer any question!</p>
      <form class="contact__form">
        <input
          class="contact__mail"
          type="email"
          placeholder="Email"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
        />
        <input class="contact__question" type="text" placeholder="Type your question" />
        <button class="contact__btn" type="submit">Send</button>
      </form>
    </div>
    <div class="social-icons">
      <ul class="list social-icons__list">
        <li class="social-icons__item">
          <a href="" class="social-icons__link" target="_blank" rel="noopener noreferrer">
            <svg class="social-icons__icon">
              <use href=""></use>
            </svg>
          </a>
        </li>
        <li class="social-icons__item">
          <a href="" class="social-icons__link" target="_blank" rel="noopener noreferrer">
            <svg class="social-icons__icon">
              <use href=""></use>
            </svg>
          </a>
        </li>
        <li class="social-icons__item">
          <a href="" class="social-icons__link" target="_blank" rel="noopener noreferrer">
            <svg class="social-icons__icon">
              <use href=""></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-contacts">
      <ul class="footer-contacts__list">
        <li class="footer-contacts__item">
          <a class="link footer-contacts__tel" href="tel:+9102228855">(910)222-8855</a>
        </li>
        <li class="footer-contacts__item">
          <a
            class="link footer-contacts__address"
            href="https://goo.gl/maps/8JXVMuq43jZi7bgT9"
            target="_blank"
            rel="noopener noreferrel"
          >
            New York</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>
