<header class="header">
    <div class="container">
        <nav class="header__nav">
            <picture class="logo">
                <source srcset="./images/logo/logo-desktop.png 1x, ./images/logo/logo-desktop@2x.png 2x"
                    media="(min-width: 1280px)" type="image/png" />
                <source srcset="./images/logo/logo.png 1x, ./images/logo/logo@2x.png 2x" media="(max-width: 1279px)"
                    type="image/png" />

                <img src="./images/logo/logo.png" alt="logo" />
            </picture>


            <ul class="site-nav list">
                <li class="site-nav__item"><a href="#about-us" class="site-nav__link">About us</a>
                </li>
                <li class="site-nav__item"><a href="#program" class="site-nav__link">Program</a>
                </li>
                <li class="site-nav__item"><a href="#reviews" class="site-nav__link">Reviews</a></li>
                <li class="site-nav__item"><a href="#contact" class="site-nav__link">Contacts</a></li>
            </ul>
        </nav>

        <button class="header__menu-btn" data-menu-button>
            <svg width="30" height="16" aria-label="Переключатель мобильного меню" class="header__icon">
                <use class="header__icon-close" href="./images/icons/icons.svg#icon-close"></use>
                <use class="header__icon-menu" href="./images//icons/icons.svg#icon-menu"></use>
            </svg>
        </button>

    </div>
</header>