<div class="mobile-menu" data-menu>
    <nav class="menu-nav">

        <picture class="logo-menu">
            <a href="index.html">
                <source srcset="./images/logo/logo_menu.png 1x, ./images/logo/logo_menu@2x.png 2x"
                    media="(max-width: 1279px)" type="image/png" />

                <img src="./images/logo/logo_menu.png" alt="logo" />
            </a>
        </picture>




        <ul class="menu list">
            <li class="menu__item"><a href="#about-us" class="menu__link">About us</a>
            </li>
            <li class="menu__item"><a href="#program" class="menu__link">Program</a>
            </li>
            <li class="menu__item"><a href="#reviews" class="menu__link">Reviews</a>
            </li>
            <li class="menu__item"><a href="#contact" class="menu__link">Contacts</a>
            </li>
        </ul>
    </nav>
</div>