<div class="mobile-menu" data-menu>
    <nav class="menu-nav">

        <picture class="logo-menu">
            <source srcset="./images/logo/logo_menu.png 1x, ./images/logo/logo_menu@2x.png 2x"
                media="(max-width: 1279px)" type="image/png" />

            <img src="./images/logo/logo_menu.png" alt="logo" />
        </picture>




        <ul class="menu list">
            <li class="menu__item"><a href="" class="menu__link">About us</a>
            </li>
            <li class="menu__item"><a href="" class="menu__link">Program</a>
            </li>
            <li class="menu__item"><a href="" class="menu__link">Reviews</a>
            </li>
            <li class="menu__item"><a href="" class="menu__link">Contacts</a>
            </li>
        </ul>
    </nav>
</div>