<section class="program">
    <div class="container">
        <div class="program__container">
            <div class="left-block">
                <h2 class="left-block__title">Program</h2>

                <p class="left-block__text">Indulge in this immersive sweet treat experience with The Chef Donut Queen
                    in her New York donut shop!</p>
                <ul class="left-block__list">
                    <li class="left-block__item">> A stand up history of donuts</li>
                    <li class="left-block__item">> Make 3 donut flavors of your choice</li>
                    <li class="left-block__item">> Enjoy all-you-can-eat donuts</li>
                    <li class="left-block__item">> Cocktail pairings and coffee included</li>
                    <li class="left-block__item">> Photoshoot by professional photographer</li>
                    <li class="left-block__item">> Secret receipt of cooking from Eva</li>
                    <li class="left-block__item">> All products are included in the price</li>
                </ul>

                <button type="button"><span class="button__title">Read more</span></button>
                <div class="program__hidden">
                    <p class="left-block__text">Come with your dear people and friends
                        and you will spend an unforgettable time and
                        will become a real professional
                        in donuts cooking!</p>
                </div>
            </div>

            <div class="right-block">
                <ul class="right-block__list">
                    <li class="right-block__item">
                        <picture>
                        </picture>
                        <img src="" alt="">
                        <h3 class="right-block__title">Type of the event</h3>
                        <p class="right-block__text">Cooking classes</p>
                    </li>
                    <li class="right-block__item">
                        <picture>
                        </picture>
                        <img src="" alt="">
                        <h3 class="right-block__title">Number of guests</h3>
                        <p class="right-block__text">1 to 20</p>
                    </li>
                    <li class="right-block__item">
                        <picture>
                        </picture>
                        <img src="" alt="">
                        <h3 class="right-block__title">Time of the event</h3>
                        <p class="right-block__text">18:30 (2.5 hours)</p>
                    </li>
                    <li class="right-block__item">
                        <picture>
                        </picture>
                        <img src="" alt="">
                        <h3 class="right-block__title">The host speaks</h3>
                        <p class="right-block__text">English, French</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>