    <section class="program">
        <div class = "container">
            <div class="program__container">
                <div class="left-block">
                <h2>Program</h2>
            
                <p>Indulge in this immersive sweet treat experience with The Chef Donut Queen in her New York donut shop!</p>
                <ul class="left-block__list">
                    <li class="left-block__item"></li>
                    <li class="left-block__item"></li>
                    <li class="left-block__item"></li>
                    <li class="left-block__item"></li>
                    <li class="left-block__item"></li>
                    <li class="left-block__item"></li>
                    <li class="left-block__item"></li>
                </ul>
                
                <p>Come with your dear people and friends
                and you will spend an unforgettable time and
                will become a real professional
                in donuts cooking!</p>
            </div>

            <div class="right-block">
                    <ul class="right-block__list">
                        <li class="right-block__item"></li>
                        <li class="right-block__item"></li>
                        <li class="right-block__item"></li>
                        <li class="right-block__item"></li>
                    </ul>
            </div>
            </div>
        </div>
    </section>