<section class="program" id="program">
  <div class="container">
    <div class="program__container">
      <div class="program-left-block">
        <h2 class="program-left-block__title">Program</h2>

        <p class="program-left-block__text">
          Indulge in this immersive sweet treat experience with The Chef Donut Queen in her New York
          donut shop!
        </p>
        <ul class="program-left-block__list">
          <li class="program-left-block__item">A stand up history of donuts</li>
          <li class="program-left-block__item">Make 3 donut flavors of your choice</li>
          <li class="program-left-block__item">Enjoy all-you-can-eat donuts</li>
          <li class="program-left-block__item">Cocktail pairings and coffee included</li>
          <li class="program-left-block__item">Photoshoot by professional photographer</li>
          <li class="program-left-block__item">Secret receipt of cooking from Eva</li>
          <li class="program-left-block__item">All products are included in the price</li>
          <li class="program-left-block__item">
            <p class="switchable">
              Come with your dear people and friends and you will spend an unforgettable time and
              will become a real professional in donuts cooking!
            </p>
            <span class="js-btn read-more read-more__program">Read more</span>
          </li>
        </ul>
      </div>

      <div class="program-right-block">
        <ul class="program-right-block__list">
          <li class="program-right-block__item">
            <div class="program-donuts program-cooking">
              <picture>
                <source
                  srcset="
                    ./images/desktop/donut1-desktop.png    1x,
                    ./images/desktop/donut1-desktop@2x.png 2x
                  "
                  type="image/jpeg"
                  media="(min-width: 1280px)"
                />

                <source
                  srcset="
                    ./images/tablet/donut1-tablet.png    1x,
                    ./images/tablet/donut1-tablet@2x.png 2x
                  "
                  type="image/jpeg"
                  media="(min-width: 768px)"
                />

                <source
                  srcset="
                    ./images/mobile/donut1-mobile.png    1x,
                    ./images/mobile/donut1-mobile@2x.png 2x
                  "
                  type="image/jpeg"
                  media="(max-width: 767px)"
                />

                <img src="./images/mobile/donut1-mobile.png" alt="" width="75px" />
              </picture>
              <h3 class="program-right-block__title">Type of the event</h3>
              <p class="program-right-block__text">Cooking classes</p>
            </div>
          </li>
          <li class="program-right-block__item">
            <div class="program-donuts program-number">
              <picture>
                <source
                  srcset="
                    ./images/desktop/donut2-desktop.png    1x,
                    ./images/desktop/donut2-desktop@2x.png 2x
                  "
                  type="image/jpeg"
                  media="(min-width: 1280px)"
                />

                <source
                  srcset="
                    ./images/tablet/donut2-tablet.png    1x,
                    ./images/tablet/donut2-tablet@2x.png 2x
                  "
                  type="image/jpeg"
                  media="(min-width: 768px)"
                />

                <source
                  srcset="
                    ./images/mobile/donut2-mobile.png    1x,
                    ./images/mobile/donut2-mobile@2x.png 2x
                  "
                  type="image/jpeg"
                  media="(max-width: 767px)"
                />

                <img src="./images/mobile/donut2-mobile.png" alt="" width="75px" />
              </picture>

              <h3 class="program-right-block__title">Number of guests</h3>
              <p class="program-right-block__text">1 to 20</p>
            </div>
          </li>
          <li class="program-right-block__item">
            <div class="program-donuts program-time">
              <picture>
                <source
                  srcset="
                    ./images/desktop/donut4-desktop.png    1x,
                    ./images/desktop/donut4-desktop@2x.png 2x
                  "
                  type="image/jpeg"
                  media="(min-width: 1280px)"
                />

                <source
                  srcset="
                    ./images/tablet/donut4-tablet.png    1x,
                    ./images/tablet/donut4-tablet@2x.png 2x
                  "
                  type="image/jpeg"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./images/mobile/donut4-mobile.png    1x,
                    ./images/mobile/donut4-mobile@2x.png 2x
                  "
                  type="image/jpeg"
                  media="(max-width: 767px)"
                />

                <img src="./images/mobile/donut4-mobile.png" alt="" width="75px" />
              </picture>
              <h3 class="program-right-block__title">Time of the event</h3>
              <p class="program-right-block__text">18:30 (2.5 hours)</p>
            </div>
          </li>
          <li class="program-right-block__item">
            <div class="program-donuts program-host">
              <picture>
                <source
                  srcset="
                    ./images/desktop/donut3-desktop.png    1x,
                    ./images/desktop/donut3-desktop@2x.png 2x
                  "
                  type="image/jpeg"
                  media="(min-width: 1280px)"
                />

                <source
                  srcset="
                    ./images/tablet/donut3-tablet.png    1x,
                    ./images/tablet/donut3-tablet@2x.png 2x
                  "
                  type="image/jpeg"
                  media="(min-width: 768px)"
                />

                <source
                  srcset="
                    ./images/mobile/donut3-mobile.png    1x,
                    ./images/mobile/donut3-mobile@2x.png 2x
                  "
                  type="image/jpeg"
                  media="(max-width: 767px)"
                />
                <img src="./images/mobile/donut3-mobile.png" alt="" width="75px" />
              </picture>
              <h3 class="program-right-block__title">The host speaks</h3>
              <p class="program-right-block__text">English, French</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
