<section class="program">
  <div class="container">
    <div class="program__container">
      <div class="program-left-block readmore-js-section readmore-js-collapsed">
        <h2 class="program-left-block__title">Program</h2>

        <p class="program-left-block__text">
          Indulge in this immersive sweet treat experience with The Chef Donut Queen in her New York
          donut shop!
        </p>
        <ul class="program-left-block__list">
          <li class="program-left-block__item">> A stand up history of donuts</li>
          <li class="program-left-block__item">> Make 3 donut flavors of your choice</li>
          <li class="program-left-block__item">> Enjoy all-you-can-eat donuts</li>
          <li class="program-left-block__item">> Cocktail pairings and coffee included</li>
          <li class="program-left-block__item">> Photoshoot by professional photographer</li>
          <li class="program-left-block__item">> Secret receipt of cooking from Eva</li>
          <li class="program-left-block__item">> All products are included in the price</li>
        </ul>

        <!-- <a href="#" class="readmore-js-toggle"><span class="read-more">Read more</span></a> -->
        <div class="program__hidden">
          <p class="program-left-block__text">
            Come with your dear people and friends and you will spend an unforgettable time and will
            become a real professional in donuts cooking!
          </p>
          <!-- <a href="#" class="readmore-js-toggle"><span class="read-more">Less</span></a> -->
        </div>
      </div>

      <div class="program-right-block">
        <ul class="program-right-block__list">
          <li class="program-right-block__item">
            <div class="program-donuts program-cooking">
              <picture> </picture>
              <img src="./images/mobile/donut1-mobile.png" alt="" width="75px" />
              <h3 class="program-right-block__title">Type of the event</h3>
              <p class="program-right-block__text">Cooking classes</p>
            </div>
          </li>
          <li class="program-right-block__item">
            <div class="program-donuts program-number">
              <picture> </picture>
              <img src="./images/mobile/donut2-mobile.png" alt="" width="75px" />
              <h3 class="program-right-block__title">Number of guests</h3>
              <p class="program-right-block__text">1 to 20</p>
            </div>
          </li>
          <li class="program-right-block__item">
            <div class="program-donuts program-time">
              <picture> </picture>
              <img src="./images/mobile/donut3-mobile.png" alt="" width="75px" />
              <h3 class="program-right-block__title">Time of the event</h3>
              <p class="program-right-block__text">18:30 (2.5 hours)</p>
            </div>
          </li>
          <li class="program-right-block__item">
            <div class="program-donuts program-host">
              <picture> </picture>
              <img src="./images/mobile/donut4-mobile.png" alt="" width="75px" />
              <h3 class="program-right-block__title">The host speaks</h3>
              <p class="program-right-block__text">English, French</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
