
<section class="registration" id="registration"> 
    <div class="container form-part">
        <h2 class="form-part__title">Registration</h2>
        <div class="form-part__image">
            <picture>
                <source srcset="./images/desktop/donut5-desktop.png 1x, ./images/desktop/donut5-desktop@2x.png 2x" media="(min-width: 1280px)"/>
                <source srcset="./images/tablet/donut5-tablet.png 1x, ./images/tablet/donut5-tablet@2x.png 2x" media="(min-width: 768px)"/>
                <img class="donut" src="./images/desktop/donut5-desktop.png " alt="donut">
            </picture>
        </div>
        <div class="form-part__image--confetti">
            <picture>
                <source srcset="./images/desktop/confetti-desktop.png 1x, ./images/desktop/confetti-desktop@2x.png 2x" media="(min-width: 1280px)" />
                <source srcset="./images/tablet/confetti-tablet.png 1x, ./images/tablet/confetti-tablet@2x.png 2x" media="(min-width: 768px)" />
                <img src="./images/desktop/confetti-desktop.png" alt="confetti">
            </picture>
    </div>
    <div class="form-part__bg ">
        <div class="inform-wrapper">
            <ul class="inform-list list">
                <li class="inform-list__item">
                    <span class="inform-list__text">May 23, 11:00</span>
                </li>
                <li class="inform-list__item">
                    New York
                </li>
                <li class="inform-list__item">
                    <span class="inform-list__text">$ 699</span>
                </li>
            </ul>
        </div>
            <div role="group" class="checkin-wrapper">
                <form class="chekin-form">
                    <div role="group" class="chekin-form__thumb">
                        <p class="checkin-form__text">Apply your personal inform for registration </p>
                        <label class="checkin-form__field"> 
                            <input class="checkin-form__input" type="text" name="user-name" placeholder="Your name" pattern="^[a-zA-Z]+">
                        </label>
                        <label class="checkin-form__field">
                            <input class="checkin-form__input" type="tel" name="tel" placeholder="Phone number" pattern="[0-9]{5,10}">
                        </label>
                        <label class="checkin-form__field">
                            <input class="checkin-form__input" type="email" name="mail" placeholder="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                        </label>
                    </div>
                    <div role="group" class="chekin-form__thumb">
                        <button class="button primary" type="submit">Register</button>
                    </div>
                </form> 
            </div>
        </div>
    </div>
</section>

