
<section class="registration"> 
    <div class="form-part">
       <h2 class="form-part__title">Registration</h2>
         <div class="container form-part__container ">
            <div class="form-part__wrapper">
                <form class="info-form">
                    <label class="info-form__field">
                        <input class="info-form__input" type="datetime-local" name="date-time" min="2021-05-23T11:00" max="2021-05-23T11:00"> 
                    </label>
                    <ul class="info list">
                       <li class="info__item">
                           <span class="info__text">New York</span>
                       </li>
                       <li class="info__item">
                           <span class="info__text">$ 699</span>
                       </li>
                    </ul>
               </form> 
           </div>
           <div class="form-part__wrapper">
                <p class="checkin-form__text">Apply your personal info for registration </p>
                <form class="chekin-form">
                   <label class="checkin-form__field"> 
                       <input class="checkin-form__input" type="text" name="user-name" placeholder="Your name" >
                   </label>
                   <label class="checkin-form__field">
                       <input class="checkin-form__input" type="tel" name="tel" placeholder="Phone number">
                   </label>
                   <label class="checkin-form__field">
                       <input class="checkin-form__input" type="email" name="email" placeholder="Email">
                   </label>
               </form>  
           </div>
           <div class="form-part__wrapper">
               <button class="button" type="submit">Register</button>
           </div>
       </div>
   </div>
  </section>
