<article class="reviews"  id="reviews">
    <div class="container">
      <h2 class="reviews__title">Reviews</h2>
      <ul class="list grid">
        <li class="grid__item reviews__item hide__item">
          <picture>
            <source
              srcset="./images/desktop/john-desktop.png 1x, ./images/desktop/john-desktop@2x.png 2x"
              media="(min-width: 1200px)"
              type="image/png"
            />
            <source
              srcset="./images/tablet/john-tablet.png 1x, ./images/tablet/john-tablet@2x.png 2x"
              media="(min-width: 768px)"
              type="image/png"
            />
            <!-- <source
              srcset="./images/mobile/ 1x, ./images/mobile/ 2x"
              media="(min-width: 320px)"
              type="image/jpeg"
            /> -->
            <img src="./images/desktop/john-desktop.png" width="110" alt="John" />
          </picture>
          <div class="">
            <div class="rating-mini">
                <span class="active"></span>	
                <span class="active"></span>    
                <span class="active"></span>  
                <span class="active"></span>    
                <span></span>
            </div>
            <p class="reviews__item-name">John</p>
          </div>
        </li>
        <li class="grid__item reviews__item">
          <picture>
            <source
              srcset="./images/desktop/will-desktop.png 1x, ./images/desktop/will-desktop@2x.png 2x"
              media="(min-width: 1200px)"
              type="image/png"
            />
            <source
              srcset="./images/tablet/will-tablet.png 1x, ./images/tablet/will-tablet@2x.png 2x"
              media="(min-width: 768px)"
              type="image/png"
            />
            <source
              srcset="./images/mobile/will-mobile.png 1x, ./images/mobile/will-mobile@2x.png 2x"
              media="(min-width: 320px)"
              type="image/png"
            />
            <img src="./images/desktop/will-desktop.png" width="186" alt="Will" />
          </picture>
          <div class="reviews__item">
            
            <div class="rating-mini">
                <span class="active"></span>	
                <span class="active"></span>    
                <span class="active"></span>  
                <span class="active"></span>    
                <span class="active"></span>
            </div>
            <p class="reviews__item-name">Will</p>
          </div>
        </li>
        <li class="grid__item reviews__item hide__item">
          <picture>
            <source
              srcset="./images/desktop/elisabeth-desktop.png 1x, ./images/desktop/elisabeth-desktop@2x.png 2x"
              media="(min-width: 1200px)"
              type="image/png"
            />
            <source
              srcset="./images/tablet/elisabeth-tablet.png 1x, ./images/tablet/elisabeth-tablet@2x.png 2x"
              media="(min-width: 768px)"
              type="image/png"
            />
            <!-- <source
              srcset="./images/mobile/ 1x, ./images/mobile/ 2x"
              media="(min-width: 320px)"
              type="image/jpeg"
            /> -->
            <img src="./images/desktop/elisabeth-desktop.png" width="110" alt="Elisabeth" />
          </picture>
          <div class="">
            
            <div class="rating-mini">
                <span class="active"></span>	
                <span class="active"></span>    
                <span class="active"></span>  
                <span class="active"></span>    
                <span class="active"></span>
            </div>
            <p class="reviews__item-name">Elisabeth</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="container reviews_text">
        <p>Last time I have visited a cooking course by Eva </p> 
        <p>I was impressed with the way she explained everything</p>   
        <p>to people. You can be sure you will manage to cook a delicious dish</p>
        <p> even if it is your first time in the kitchen!</p> 
        <p> Thank you so much for the masterclass! Looking forward to the next</p>
        <p>one and highly recommend it to everyone!</p> 
    </div>
    <div class="container pagination">
        <a class="pagination-icons__icon pagination-icons__prev" href="prev"></svg><img  src="./images/icons/pagination.svg" alt="prev"></a>
        <p class="pagination_text">2/15</p>
        <a class="pagination-icons__icon pagination-icons__next" href="next"></svg><img  src="./images/icons/pagination.svg" alt="next"></svg></a>
    </div>
</article>
 