.background__container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  /* @media screen and (min-width: 320px) {
    width: 320px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1280px) {
    min-width: 1280px;
  } */
}

.background__image {
  width: 100vw;
}

.background__donuts {
  position: absolute;
  z-index: -1;

  @media screen and (max-width: 767.98px) {
    width: 120px;
    left: 0;
    top: 0;
  }

  @media screen and (min-width: 768px) {
    width: 380px;
    right: 137.11px;
    top: 0px;
  }

  @media screen and (min-width: 1280px) {
    width: 719px;
    right: 0px;
    top: 0px;
  }
}

.background__header {
  position: absolute;
  z-index: -10;
  left: 0;
  top: 0;
  width: 100%;

  /* @media screen and (max-width: 767.98px) {
    width: 320px;
    left: 0px;
    top: 0px;
  }

  @media screen and (min-width: 768px) {
    width: 769px;
    left: -1px;
    top: 0px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
    left: 0px;
    top: 0px;
  } */
}

.background__footer {
  position: absolute;
  z-index: -10;
  width: 100%;

  @media screen and (max-width: 767.98px) {
    /* width: 324px;
    height: auto; */
    left: 0px;
    bottom: 216.4px;
  }

  @media screen and (min-width: 768px) {
    /* width: 773px;
    height: auto; */
    left: 0px;
    bottom: 63.01px;
  }

  @media screen and (min-width: 1280px) {
    /* width: 1285.78px;
    height: auto; */
    left: 0px;
    bottom: 0;
  }
}

.background__spoon {
  position: absolute;
  width: 100%;
  left: 0;
  top: 170px;

  @media screen and (max-width: 1279px) {
    display: none;
  }
}