.header__menu-btn {
  position: absolute;
  top: 9px;
  right: 15px;
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 105;
  &--close {
    position: absolute;
    right: 6px;
  }
  @media screen and (min-width: 768px) {
    top: 27px;
    right: 67px;
  }
  @media screen and (min-width: 1280px) {
    display: none;
  }
}
.header__icon-close {
  fill: var(--primary-text-color);
  display: none;
}
.header__icon-menu {
  fill: var(--primary-text-color);
}
.is-open {
  .header__icon-close {
    display: block;
    width: 18px;
    height: 18px;
  }
  .header__icon-menu {
    display: none;
  }
}
.menu-nav {
  padding-top: 25px;
  text-align: center;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: rgba(254, 243, 228, 0.9);
  transition: right 0.5s;
  &.is-open {
    right: 0;
  }
}
.menu {
  margin-top: 40px;
}
.menu__link {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  color: var(--primary-text-color);

  &:hover,
  &:focus {
    color: var(--accent-color);
    cursor: pointer;
  }
}
.menu__item + .menu__item {
  margin-top: 45px;
  @media screen and (min-width: 768px) {
    margin-top: 40px;
  }
}
