.social-icons {
  display: inline-flex;
}

.social-icons__item + .social-icons__item {
  margin-left: 9px;
}

.social-icons__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 15px;
  cursor: pointer;
}

.social-icons__icon {
  // width: 19px;
  // height: 15px;
  fill: var(--primary-text-color);
  transition: fill var(--cubic);
}
.social-icons__link:hover .social-icons__icon {
  fill: var(--accent-color);
}
.footer-contacts__tel:hover,
.footer-contacts__tel:focus,
.footer-contacts__address:hover,
.footer-contacts__address:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}
