.about-us__title {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 1.81;
  /* identical to box height, or 181% */

  text-align: center;

  color: #2e2520;
  display: contents;
  margin: 0;
  @media screen and (min-width: 320px) {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 65px;
    /* identical to box height, or 271% */

    text-align: center;

    color: #2e2520;
  }

  @media screen and (min-width: 768px) {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 65px;
    /* identical to box height, or 271% */
  }
  @media screen and (min-width: 1280px) {
  }
}
.about-us__text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;

  color: var(--primary-text-color);

  @media screen and (min-width: 320px) {
    width: 290px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;

    color: var(--primary-text-color);
  }

  @media screen and (min-width: 768px) {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    padding-right: 0;
    color: var(--primary-text-color);
  }
  @media screen and (min-width: 1280px) {
    margin-top: 0.5em;
    padding-right: 0;
    margin-bottom: 0.5em;
  }
}

.about-us {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: 320px) {
    width: 290px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
  }

  @media screen and (min-width: 768px) {
    width: 690px;
    flex-direction: row;
    margin-top: 15px;

    display: -webkit-inline-box;
  }
  @media screen and (min-width: 1280px) {
    width: 980px;
    flex-wrap: wrap;
    margin-left: 71px;
    margin-top: 30px;
  }
}

.right-block__about-us {
  @media screen and (min-width: 320px) {
    width: 290px;
    flex-direction: column;
    margin-right: 15px;
    margin-left: 15px;
  }

  @media screen and (min-width: 768px) {
    margin-left: 25px;
    margin-right: 0;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 90px;
    margin-left: 76px;
  }
}
/*.left-block__about-us {
  @media screen and (min-width: 320px) {
  }
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1280px) {
  }
}*/
.pf {
  @media screen and (min-width: 768px) {
    margin-top: 96px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding: 0;
  }
  @media screen and (min-width: 1279px) {
    margin-top: 12px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding: 0;
  }
}
