.about-us__content {
  margin-top: 75px;
}
.about-us__title {
  width: 113px;
  height: 65px;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 1.81;
  /* identical to box height, or 181% */

  text-align: center;

  color: #2e2520;

  margin: 0;
  @media screen and (min-width: 320px) {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 65px;
    /* identical to box height, or 271% */

    text-align: center;

    color: #2e2520;
  }

  @media screen and (min-width: 768px) {
    width: 76px;
    height: 65px;

    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 65px;
    /* identical to box height, or 271% */
  }
  @media screen and (min-width: 1280px) {
    width: 113px;
    height: 65px;
  }
}
.about-us__text {
  width: 392px;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;

  color: #2e2520;

  @media screen and (min-width: 320px) {
    width: 290px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;

    color: #2e2520;
  }

  @media screen and (min-width: 768px) {
    width: 336px;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;

    color: #2e2520;
  }
  @media screen and (min-width: 1280px) {
  }
}
.about-us {
  width: 980px;

  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: 320px) {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    align-items: stretch;
    justify-content: center;
  }

  @media screen and (min-width: 768px) {
    flex-direction: row;
    margin-top: 100px;
    margin-left: 17px;
    display: -webkit-inline-box;
  }
  @media screen and (min-width: 1280px) {
    flex-wrap: wrap;
    margin-left: 71px;
    margin-top: 115px;
  }
}

.right-block__about-us {
  width: 392px;

  margin-right: 0;

  @media screen and (min-width: 320px) {
    flex-direction: column;
    margin-right: 15px;
    margin-left: 15px;
  }

  @media screen and (min-width: 768px) {
    width: 336px;
    margin-left: 25px;
    margin-right: 0;
  }
  @media screen and (min-width: 1280px) {
    margin-left: 76px;
  }
}
/*.left-block__about-us {
  @media screen and (min-width: 320px) {
  }

  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1280px) {
  }
}*/
