.footer__container {
  padding-top: 27px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  // display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer {
  position: relative;
}
.contact__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact__title {
  margin-bottom: 25px;
}

.contact__text {
  margin-bottom: 27px;
}
.contact__mail {
  margin-bottom: 27px;
}
.contact__question,
.contact__mail {
  border-top: none;
  border-right: none;
  border-left: none;
  width: 265px;
  border-bottom: 1px solid var(--marker-color);

  font-size: 16px;
  line-height: 1, 25;

  color: var(--primary-text-color);

  @media screen and (min-width: 768px) {
    width: 410px;
  }
  @media screen and (min-width: 1280px) {
    width: 430px;
  }
}

input:invalid {
  border-color: red;
}

::-webkit-input-placeholder {
  color: rgba(171, 129, 108, 0.5);
}
:-moz-placeholder {
  color: rgba(171, 129, 108, 0.5);
}
::-moz-placeholder {
  color: rgba(171, 129, 108, 0.5);
}
:-ms-input-placeholder {
  color: rgba(171, 129, 108, 0.5);
}
.contact__question {
  margin-bottom: 36px;
}
.contact__btn {
  margin-bottom: 50px;
}
.footer-contacts {
  margin-top: 34px;
  margin-bottom: 19px;
  position: relative;
}
.contact {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  justify-content: center;
}

.footer-contacts__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 19px;
}

.footer-picture {
  z-index: -1;
  position: absolute;
  right: 0px;
  bottom: -19px;
}

.social-icons__footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
