.program__container {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }

  @media screen and (min-width: 1280px) {
    flex-direction: row;
  }
}

.program-left-block {
  margin-bottom: 15px;

  @media screen and (min-width: 768px) {
    width: 290px;
  }

  @media screen and (min-width: 1280px) {
    width: 392px;
  }
}

.program-left-block__title {
  margin-bottom: 10px;
}

.program-left-block__text {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 10px;
}

.btn-toggle-content {
  cursor: pointer;
  @media screen and (min-width: 768px) {
    display: block;
  }
  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.switchable-content {
  overflow: hidden;
  transition: max-height 0.5s ease;
  max-height: 0;

  &.is-open {
    max-height: 200px;
  }

  @media screen and (min-width: 1280px) {
    max-height: 200px;
    opacity: 1;
  }
}

.program-left-block__item {
  margin-bottom: 10px;

  // list-style-type: '\003E'+ ' ';

  &:not(:last-child)::before {
    content: '\1F369'+ ' ';
  }
}

.read-more {
  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.program-right-block {
  position: relative;

  margin-top: 34px;
  padding: 0;

  @media screen and (min-width: 768px) {
    margin-left: 38px;
    width: 290px;

    margin-right: 0;
  }

  @media screen and (min-width: 1280px) {
    margin-left: 38px;
    width: 382px;

    margin-right: 0;
  }
}

.program-right-block__list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
}

.program-right-block__item {
  position: relative;

  height: 142px;
  width: 142px;
  background-color: #fef3e4;
  border-radius: 50%;
  margin-top: 0;

  margin-right: 5px;

  box-shadow: 0px 4px 4px rgba(171, 129, 108, 0.25);

  &:nth-child(2n) {
    margin-top: 60px;
    margin-right: 0;
  }

  @media screen and (min-width: 1280px) {
    height: 180px;
    width: 180px;
  }
}

.program-right-block__title {
  margin-bottom: 13px;

  font-family: Caveat Brush;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.28;
  text-align: center;

  @media screen and (min-width: 1280px) {
    margin-bottom: 17px;
    font-size: 24px;
    line-height: 1.25;
  }
}

.program-right-block__text {
  margin-bottom: 13px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;

  @media screen and (min-width: 1280px) {
    margin-bottom: 17px;
    font-size: 16px;
    line-height: 1.25;
  }
}

.program-donuts {
  position: absolute;
  top: -40px;
  right: 15px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 1280px) {
    right: 17px;
  }
}

.program-cooking {
  &::after {
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    content: '';
    background-image: url(../../src/images/icons/chef_hat.svg);
  }
}

.program-number {
  &::after {
    content: '';
    width: 27px;
    height: 27px;
    background-repeat: no-repeat;
    background-image: url(../../src/images/icons/people.svg);
  }
}
.program-time {
  &::after {
    content: '';
    width: 29px;
    height: 29px;
    background-repeat: no-repeat;
    background-image: url(../../src/images/icons/clock.svg);
  }
}
.program-host {
  &::after {
    content: '';
    width: 32px;
    height: 25px;
    background-repeat: no-repeat;
    background-image: url(../../src/images/icons/chat.svg);
  }
}
