
.primary{
    display: inline-flex;
}

label {
    display: flex;
    justify-content: center;
}
.registration{
    padding-top: 40px;
    padding-bottom: 51px;
}

.form-part {
    position: relative;
    @media screen and (max-width: 767px){
    text-align: center;
    max-width: 290px;
    border-radius: 150px 150px 0px 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--input-color);
    box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
    }
}

.form-part__title{
    text-align: center;
    font-weight: 400;

    @media screen and (max-width: 767px){
    font-family: 'Caveat Brush', cursive;
    font-size: 24px;
    line-height: 2.71; 
    margin-bottom: 11px; 
    }

    @media screen and (min-width: 768px) and (max-width: 1279px){
    font-family: 'Caveat Brush', cursive;
    font-size: 24px;
    line-height: 2.71; 
    margin-bottom: 10px;
    }
    @media screen  and (min-width: 1280px) {
    font-family: 'Caveat Brush', cursive; 
    font-size: 36px;
    line-height: 1.81;
    margin-bottom: 10px;
    }
}

.form-part__image{
    @media screen and (min-width: 768px) and (max-width: 1279px) {
    left: -17px;
    top:34px;
        }
    @media screen and (min-width: 1280px) {
    left: 71px;
    top:34px;
    }
}

.donut{
    @media screen and (max-width: 767px) {
    display: none;
    }
    @media screen and (min-width: 768px) {
    transform: rotate(4.49deg);
    }
}

.form-part__image--confetti{
    @media screen and (min-width: 1280px) {
    top:50px;
    right: 104px;
    }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
    bottom:0px;
    left: 600px;
    }
}
.form-part__image,
.form-part__image--confetti{
    position: absolute;
    z-index: -1;
}

.form-part__bg{
    margin-right: auto;
    margin-left: auto;

    @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: nowrap;
    background-color: var(--input-color);
    box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
    }
}



@media screen and (min-width: 768px) and (max-width: 1279px){
    .form-part__bg{
    max-width: 634px;
    border-radius: 150px;
    }
}

@media screen and (min-width: 1280px){
    .form-part__bg{
    max-width: 822px;
    height: 260px;
    border-radius: 150px;
    }   
}

.inform-wrapper{
    @media screen and (min-width: 768px){
        height: 190px;
    margin-top: 35px;
    margin-bottom: 35px;
    border-right: 1px solid rgba(171, 129, 108, 0.5);
    }
}

.inform-form{
    @media screen and (max-width: 767px){
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    max-width: 265px;
    margin-bottom: 11px;
    
    }

    @media screen and (min-width: 768px) and (max-width: 1279px){
    margin: 0;
    padding-top: 19px;
    padding-right: 30px;
    margin-left: 35px;
    }
    @media screen and (min-width: 1280px){
    padding-top: 19px;
    padding-left: 107px; 
    padding-right: 30px;
    }
}

.inform-form__input{
    border: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    max-width: 114px;
}

.inform-list{
    @media screen and (max-width: 767px) {
        text-align: center;
    }
    @media screen and (min-width: 768px) {
    flex-direction: column;
    padding-right: 30px;
    }
}

.inform-list__item{
    @media screen and (max-width: 767px) {
    padding-bottom: 25px;
    }

    &:last-child{
    padding-bottom: 20px;
    }


    @media screen and (min-width: 768px) and (max-width: 1279px){
    text-align: right;
    padding-bottom: 34px;
    }
    @media screen and (min-width: 1280px){
    text-align: right;
    padding-bottom: 30px;
    }
}

.inform-list__text{
    font-weight: 500;  
    @media screen  and (max-width: 1279px){
    font-size: 18px;
    line-height: 1.22;
    }
    @media screen  and (min-width: 1280px){
    font-size: 20px;
    line-height: 1.22; 
    }
}

.checkin-wrapper{
    @media screen and (min-width: 768px){
    align-items: center;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: 30px;
    display: flex;  
    }
}
.checkin-wrapper > form{
    @media screen and (max-width: 767px){
        display: block;
    }
    @media screen and (min-width: 768px){
    display: flex;
    }
}

@media screen and (min-width: 768px)  {
    .chekin-form__thumb {
        max-width: 234px;
        display: inline-flex;
        flex-direction: column;
        margin-top: auto;
        margin-bottom: auto;
        
    }
}

.chekin-form__thumb:nth-child(2) {
    @media screen and (max-width: 767px)  {
        margin-top: 37px;
        }
    @media screen and (min-width: 768px) and (min-width: 1279px) {
    margin-left: 25px;
    }
    @media screen and (min-width: 1280px)  {
        margin-left: 38px;
    }
}

.checkin-form__text{
    font-size: 16px;
    line-height: 1.22;

    @media screen  and (min-width: 768px)and (max-width: 1279px){
    padding-top: 19px;
    }
    @media screen  and (min-width: 1280px){
    font-size: 18px;
    padding-top: 19px;
    }
}

.checkin-form__field:first-child .checkin-form__input{
    @media screen and (min-width: 1280px){
    padding-top: 14px;
    }
    @media screen and (min-width: 768px) and (max-width: 1279px){
    padding-top: 18px;
    }
}

.checkin-form__input{
    margin: 0;
    border: none;
    border-bottom: 1px solid var(--marker-color);
    padding-top: 16px;
    background-color: var(--input-color);

    @media screen and (min-width: 768px){
        width: 234px;
    }

    &::placeholder{
        font-size: 16px;
        line-height: 1.22;
        color: var(--placeholder-color);
        }
}

.checkin-form__input{
    @media screen and (max-width: 767px){
        max-width: 260px;
    }
}



