.rating-mini {
	display: inline-block;
	font-size: 0;
  
}
.rating-mini span {
	padding: 0;
	content: url( ../images/icons/unstar.svg ) ;
  
}
.rating-mini > span:before {
	content: url( ../images/icons/star.svg ) ;

}
.rating-mini > span.active {
  content: url( ../images/icons/star.svg ) ;

}
.reviews__item{ 
  justify-content: center
}
.reviews__item-name{
  font-family: Montserrat;
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}
.reviews{
    padding-top: 60px;
    padding-bottom: 60px;
  
    @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  }


.reviews__title{
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    color: var(--primary-text-color);
    margin-bottom: 30px;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
.grid__item {
   flex-basis: calc((100% - 30px * var(--grid__item)) / var(--grid__item));
   margin-left: 30px;
   margin-top: 30px;
}
.reviews__item{
    --grid__item: 1;
    
    @media screen and (min-width: 768px) {
        --grid__item: 3;
    }
    
    @media screen and (min-width: 1200px) {
        --grid__item: 3;
    }
    }
  .reviews__list{
    font-size: 16px;
    line-height: 1.19;
    text-align: center; 
    }
  .reviews_text{
    text-align: center; 

  }